* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  transition: background 0.3s, color 0.3s;
}

body {
  font-family: 'Courier Prime', monospace;
  background: var(--background-base);
  color: var(--midground-base);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
  position: relative;
}
